<html>
	<head>
		<title>Download Frequency File</title>
	</head>
	<body>


		<ul class="breadcrumb">
			<li class="active">Upload VCF</a> <span class="divider">/</span></li>
			<li class="active">Define Samples <span class="divider">/</span></li>
			<li class="active">Download Files <span class="divider">/</span></li>
			<li class="active">Define Frequencies <span class="divider">/<span></li>
			<li> Download Frequency File </li>
		</ul>

		<h4> Download Frequency File:</h4>
		<h6 class="alert alert-warning"> Warning: Refreshing or changing the page will cause all entered information to be lost </h6>
		<div>
			<a download="generatedFrequency.freq" ng-href= "{{frequencyFile}}">Frequency File</a>
		</div>
	</body>
</html>